.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0vh;
    margin-left:90%;
    margin-top: 0;
    width: 10%;
    position:fixed;
    background-color: rgb(0, 15, 18);
    height: 100vh;
    border-style:groove;
    border-color: gray;
    color: darkolivegreen;
}

.logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 2vw;
    border-radius: 10%;
    /* background-color: red; */
}

.filterdiv {
    width: 100%;
    /* background-color: blueviolet; */
}

.proveedor {
    width: 100%;
    margin-bottom: 2vw;
    text-align: center;
    color: whitesmoke
    /* background-color: aqua; */
}

.buscar {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: rgb(31, 46, 73); */
    color: whitesmoke
}

.inputSearch {
    width: 100%;
    margin-top: 1vw;

}

.button {
    background-color: rgb(212, 215, 242);
    width: 80%;
    height: 2.5vw;
    border-radius: 15%;
}

.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.select {
    width: 100%;
    background-color: rgb(226, 224, 224);
    border-radius: 10%;
    height: 2vw;
    margin-top: 1vw;
}

.logoSthemma {
    margin-bottom: 1vw;
    text-align: center;
    color: rgb(138, 117, 1);
}

@media (max-width: 360px) {
    .container {
      width: 30%;
    }
}