.container {
  width: 25vw;
}

@keyframes flipCard1 {
  0% {
      transform: rotateY(0deg);
      background-color:rgb(243, 255, 243);
  }
  100% {
      transform: rotateY(180deg);
      background-color:whitesmoke;
  }
}

.frontCard {

  border-style: solid;
  border-color: lightgray;
  border-radius: 5%;
  color: rgb(9, 129, 170);
  background-color: whitesmoke;
  margin: 1vw; 
  animation-name: flipCard1;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

@keyframes flipCard2 {
  0% {
      transform: rotateY(0deg);
      background-color:whitesmoke;
  }
  100% {
      transform: rotateY(180deg);
      background-color:rgb(243, 255, 243);
  }
}

.backCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  /* min-width: 320px; */
  height:70vh;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5%;
  color: rgb(9, 129, 170);
  margin: 1vw; 
  animation-name: flipCard2;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  background-color:rgb(224, 251, 224);
}

.codigo {
  font-size: 1.3vw;;
}

.image {
  display: flex;
  justify-content: center;
  max-width: 90%; 
  max-height: 45%;
}

.img {
  max-width: 100%;
}

.nombre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: green;
  text-align: center;
  font-size: 1.2vw;
}

.line {
  background-color: black;
  width: 80%;
  margin: 0;
  }

.precio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.3vw;
  font-weight: bold;
}

.proveedor {
  font-size: 1vw;
  text-align: center;
}

.lights {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 80%;
  margin-top: 1vw;
  font-size: 1.5vh;
}

@media (max-width: 360px) {
  .container {
    width: 80vw;
  }
  .codigo {
    font-size: 3vw;
  }

  .tituloName {
    font-size: 2vw;
    margin-right: 50%;
  }

  .nombre {
    font-size: 7vw;
  }

.precio {
  font-size: 4vw;
  font-weight: bold;
}
.proveedor {
  font-size: 3vw;
}

}
