.frontCard {
  animation-name: flipCard1;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes flipCard1 {
  0% {
    transform: rotateY(0deg);
    background-color: rgb(243, 255, 243);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.backCard {
  animation-name: flipCard2;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  /* background-color: rgb(224, 251, 224); */
}
@keyframes flipCard2 {
  0% {
    transform: rotateY(0deg);
    background-color: whitesmoke;
  }
  100% {
    transform: rotateY(180deg);
    /* background-color: rgb(243, 255, 243); */
  }
}