.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-style: groove;
    max-width: 60vw;
    margin: auto;
    margin-top: 2vw;
    padding: 5vw;
    max-width: 55vw;
    height: 40vh;
    /* background-color: whitesmoke; */
    background-image: url("https://res.cloudinary.com/dbxsr9mfc/image/upload/v1682391978/calixto/Cover_lrghp5.jpg");
    
}

.title {
    font-size: 5vw;
    color: greenyellow;

}

.boton {
    background-color: greenyellow;
    color: black;
    font-size: larger;
    font-style: oblique;
    cursor: pointer;
}
